@font-face {
    font-family: 'Roboto';
    src: url('./assets/Fonts/Roboto/Roboto-Light.ttf') format('ttf');
  }

  
.resume-container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: -5%;
}


.resume-heading .word{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bolder;
}

.download-btn{
    display: block;
    width: 200px;
    height: 38px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 500px;
    text-align: center;
    color: black;
    background-color: greenyellow;
    padding-top: 20px;
    font-family: 'Roboto';
}
.resume-heading{
    display: flex;
    gap: 65%;
}

.download-btn:hover{
    background-color: rgb(185, 250, 174);
    font-weight: bolder;
}